.DivContenedor{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.cardPeliculas{
    height: 350px;
    width: 230px;
    display: grid;
    grid-template-columns: auto;
    margin-top: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(0, 0, 0); 
    margin-left: 5px;
    margin-right: 5px;
    border:2px solid black;
}
.cardImagen{
    height: 250px;
    width: 100%;
}
p{
    color: white;
    margin: auto;
}
.cardPeliculas:hover{
    scale: 1.08;
    transition: 1s;
}